.hidden_div {
  display:none;
}

.scrollable {
    height: 100%;
    overflow: auto;
}

.nav-collapse {
	background-color: #FFF;
}
.navbar .brand {
  display: block;
  float: left;
  padding: 10px 20px 10px;
  margin-left: -20px;
  font-size: 30px;
  font-weight: 200;
  color: #FFF;
}
.navbar-inner {
  min-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #dadada;
  background-image: -moz-linear-gradient(top, #C76D6A, #AB312A);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#C76D6A), to(#AB312A));
  background-image: -webkit-linear-gradient(top, #C76D6A, #AB312A);
  background-image: -o-linear-gradient(top, #C76D6A, #AB312A);
  background-image: linear-gradient(to bottom, #C76D6A, #AB312A);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#ffbbbbbb', GradientType=0);
  border: 1px solid #aeaeae;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
.navbar-inner-inverse {
  min-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #dadada;
  background-image: -moz-linear-gradient(top, #AB312A, #C76D6A);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#AB312A), to(#C76D6A));
  background-image: -webkit-linear-gradient(top, #AB312A, #C76D6A);
  background-image: -o-linear-gradient(top, #AB312A, #C76D6A);
  background-image: linear-gradient(to bottom, #AB312A, #C76D6A);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#ffbbbbbb', GradientType=0);
  border: 1px solid #aeaeae;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}